{% extends 'main.html' %}

{% block content %}

{% load static %}
<section>
    <div class="aboutus-head">
        <div class="background">
            <h4>ABOUT US</h4>
            <h2>We are a team of content writers who share their learnings </h2>
        </div>
        <div class="background-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>

    <div class="img-we">
        <img src="{% static 'images/We.png' %}" alt="">
        <div class="active-user">
            <div>
                <h2>12K +</h2>
                <h4>Blogs Published</h4>
            </div>
            <div>
                <h2>18K +</h2>
                <h4>Views on Finsweet</h4>
            </div>
            <div>
                <h2>30K +</h2>
                <h4>Total Active Users</h4>
            </div>
        </div>
        <div class="rec">
            <div class="blue">

            </div>
            <div class="yellow-shape">

            </div>
        </div>

    </div>

    <div class="OUR">
        <div class="Mission">
            <h4>OUR MISSION</h4>
            <H2>Creating valuable content for creatives all around the world</H2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. At risus viverra adipiscing at in tellus.</p>
        </div>
        <div class="Mission">
            <h4>OUR VISSION</h4>
            <H2>A platform that empowers individuals to improve</H2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. At risus viverra adipiscing at in tellus.</p>
        </div>
    </div>
</section>

<section>
    <div class="creative-team">
        <div class="team-wrap">
            <h2>Our teams of creatives</h2>
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>
        </div>
        <div>
            <div class="shape"> </div>
            <img src="{% static 'images/holding hands.png' %}" alt="" class="img-wrap">

        </div>
    </div>

    <div class="creative-team2">
        <div class="img-wrap2">
            <img src="{% static 'images/three-persons-sitting-on-the-stairs-talking-with-each-other-1438072.png' %}" alt="">
            <div class="purple-circle"></div>
        </div>

        <div>
            <div class="team-wrap">
            <h2>Why we started this block</h2>
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>
        </div>
        </div>
    </div>
</section>

<section class="Author-wrap">
    
    <h2 class="head">List of Authors</h2>
    <div class="Authors-box">
        <div class="boxes" >
            <img class="aut_icon" src="{% static './images/floyd.png' %}" alt="">
            <h2>floyd Miles</h2>
            <p>Content Writer@Company</p>
            <div class="negatives">
                <img src="{% static '/images/Twitter/Negative.png' %}" alt="">
                <img src="{% static '/images/Facebook/Negative.png' %}" alt="">
                <img src="{% static 'images/Instagram/Negative.png' %}" alt="">
                <img src="{% static 'images/LinkedIn/Negative.png' %}" alt="">
            </div>
        </div> 
        <div class="boxes" >
            <img class="aut_icon" src="{% static '/images/Dianne.png' %}" alt="">
            <h2>Dianne Russell</h2>
            <p>Content Writer@Company</p>
            <div class="negatives">
                <img src="{% static '/images/Twitter/Negative.png' %}" alt="">
                <img src="{% static '/images/Facebook/Negative.png' %}" alt="">
                <img src="{% static 'images/Instagram/Negative.png' %}" alt="">
                <img src="{% static 'images/LinkedIn/Negative.png' %}" alt="">
            </div>
        </div>     
        <div class="boxes">
            <img class="aut_icon" src="{% static './images/Jenny.png' %}" alt="">
            <h2>Jenny Wilson</h2>
            <p>Content Writer@Company</p>
            <div class="negatives">
                <img src="{% static '/images/Twitter/Negative.png' %}" alt="">
                <img src="{% static '/images/Facebook/Negative.png' %}" alt="">
                <img src="{% static 'images/Instagram/Negative.png' %}" alt="">
                <img src="{% static 'images/LinkedIn/Negative.png' %}" alt="">
            </div>
        </div>     
        <div class="boxes" >
            <img class="aut_icon" src="{% static './images/Lesliy.png' %}" alt="">
            <h2>Leslie Alexander</h2>
            <p>Content Writer@Company</p>
            <div class="negatives">
                <img src="{% static '/images/Twitter/Negative.png' %}" alt="">
                <img src="{% static '/images/Facebook/Negative.png' %}" alt="">
                <img src="{% static 'images/Instagram/Negative.png' %}" alt="">
                <img src="{% static 'images/LinkedIn/Negative.png' %}" alt="">
            </div>
        </div>     
        <div class="boxes" >
            <img class="aut_icon" src="{% static './images/hawk.png' %}" alt="">
            <h2>Leslie Alexander</h2>
            <p>Content Writer@Company</p>
            <div class="negatives">
                <img src="{% static '/images/Twitter/Negative.png' %}" alt="">
                <img src="{% static '/images/Facebook/Negative.png' %}" alt="">
                <img src="{% static 'images/Instagram/Negative.png' %}" alt="">
                <img src="{% static 'images/LinkedIn/Negative.png' %}" alt="">
            </div>
        </div>     
        <div class="boxes" >
            <img class="aut_icon" src="{% static './images/Pena.png' %}" alt="">
            <h2>Leslie Alexander</h2>
            <p>Content Writer@Company</p>
            <div class="negatives">
                <img src="{% static '/images/Twitter/Negative.png' %}" alt="">
                <img src="{% static '/images/Facebook/Negative.png' %}" alt="">
                <img src="{% static 'images/Instagram/Negative.png' %}" alt="">
                <img src="{% static 'images/LinkedIn/Negative.png' %}" alt="">
            </div>
        </div>     
        <div class="boxes" >
            <img class="aut_icon" src="{% static './images/fox.png' %}" alt="">
            <h2>Leslie Alexander</h2>
            <p>Content Writer@Company</p>
            <div class="negatives">
                <img src="{% static '/images/Twitter/Negative.png' %}" alt="">
                <img src="{% static '/images/Facebook/Negative.png' %}" alt="">
                <img src="{% static 'images/Instagram/Negative.png' %}" alt="">
                <img src="{% static 'images/LinkedIn/Negative.png' %}" alt="">
            </div>
        </div>     
        <div class="boxes" >
            <img class="aut_icon" src="{% static './images/jone.png' %}" alt="">
            <h2>Leslie Alexander</h2>
            <p>Content Writer@Company</p>
            <div class="negatives">
                <img src="{% static '/images/Twitter/Negative.png' %}" alt="">
                <img src="{% static '/images/Facebook/Negative.png' %}" alt="">
                <img src="{% static 'images/Instagram/Negative.png' %}" alt="">
                <img src="{% static 'images/LinkedIn/Negative.png' %}" alt="">
            </div>
        </div>     
    </div>
    <div class="team">
            <h2>Join our team to be a part <br>of our story</h2>
            <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br> Accusamus repudiandae quod sunt quia.</p>
            <button><a href="{% url 'contact' %}">Join Now</a></button>
    </div>
</section>

{% endblock content %}