{% extends 'main.html' %} 

{% block content %}
<section class="Andrew-sec">
    
    <img src="images/https_/www.pexels.com/photo/Andrew.png" alt="">
    <div class="Andrew-blog">
        <h2>Hey there, I'm Andrew johnson <br> and welcome to my Blog</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. At risus viverra adipiscing at in tellus.</p>
        <div class="andrew-icon">
        <img src="images/Facebook/Negative.png" alt="">
        <img src="images/Twitter/Negative.png" alt="">
        <img src="images/Instagram/Negative.png" alt="">
        <img src="images/LinkedIn/Negative.png" alt="">
        </div>
    </div>
    <div class="andrew-rec">
            <div class="blue">

            </div>
            <div class="yellow-shape">

            </div>
    </div>

</section>

<section class="post-section">

    <h2>My Posts</h2>

    <div class="business-wrap">
        <img src="images/glass.png" alt="">
        <div class="business-section">
            <h4>Business</h4>
            <h2>Font sizes in UI design: The complete guide to follow</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        
    </div>

    <br><br>
    <div class="business-wrap">
        <img src="images/postimg2.png" alt="">
        <div class="business-section">
            <h4>Economy</h4>
            <h2>How to build rapport with your web design clients</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
       
    </div>
</section>


{% endblock content %}