{% extends 'main.html' %}

{% block content %}
{% load static %}

<section class="header-business">
    <h2>Business</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore <br>nihil eum laudantium ex amet dolorem.</p>

    <h4>BLOG > BUSINESS</h4>
</section>

<section class="wrapper">
    <div class="selection-wrap">
        <div class="items-wrap">
            <div>
                <img src="{% static 'images/blog/photo1.png' %}" alt="">
            </div>
            <div class="Business-wrap">
                <h3>Business</h3>
                <h2>Top 6 free website mockup tools 2022</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec.</p>
            </div>
            
        </div>
        <br>
        <div class="items-wrap">
            <img src="{% static 'images/blog/photo1.png' %}" alt="">
            <div class="Business-wrap">
                <h3>Business</h3>
                <h2>Top 6 free website mockup tools 2022</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec.</p>
            </div>

        </div>
        <br>
        <div class="items-wrap">
            <img src="{% static 'images/blog/photo1.png' %}" alt="">
            <div class="Business-wrap">
                <h3>Business</h3>
                <h2>Top 6 free website mockup tools 2022</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec.</p>
            </div>

        </div>
        <br>
        <div class="items-wrap">
            <img src="{% static 'images/blog/photo1.png' %}" alt="">
            <div class="Business-wrap">
                <h3>Business</h3>
                <h2>Top 6 free website mockup tools 2022</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec.</p>
            </div>

        </div>
    </div>

     <div class="categories-head">
        <h2>Categories</h2>
            <div>
                <div class="category-startup">
                    <img src="{% static 'images/Icon-startup.png' %}" alt="">
                    <h2>Startup</h2>
                </div>
            </div>

            <div class="category-business">
                    <img src="{% static 'images/Business.png' %}" alt="">
                    <h2>Business</h2>
                </div>
            <div class="category-business">
                    <img src="{% static 'images/Economy.png' %}" alt="">
                    <h2>Economy</h2>
                </div>
            <div class="category-business">
                    <img src="{% static 'images/Tech.png' %}" alt="">
                    <h2>Technology</h2>
                </div>
            
                <h2 class="tag-head">All Tags</h2>
            <div class="All-tags">
                <div>
                    <span class="bus-span">Business</span>
                    <span class="exp-span">Experience</span>
                </div>
                <div class="span2">
                    <span class="scr-span">Screen</span>
                    <span class="tech-span">Technology</span>
                </div>
                <div class="span3">
                    <span class="mark-span">Marketing</span>
                    <span class="life-span">Life</span>
                </div>
            </div>    
        </div>
</section>
{% endblock content %}