{% extends 'main.html' %}

{% block content %}

<section class="contact-us">
<div class="contact-head">
    <h3>CONTACT US</h3>
    <H2>Let's Start a Conversation</H2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore <br>et dolore magna aliqua. Ut enim ad minim.</p>
</div>

<div class="Contact-wrap"> 
    <div class="hours">
        <p>Working hours</p>
        <hr>
        <h3>Monday To Friday</h3>
        <h3>9:00 AM to 8:00 PM</h3>
        <p>Our Support Team Is Available 24/7</p>
    </div>

    <div class="num">
        <p>Contact us</p>
        <hr>
        <h3>020 7993 2905</h3>
        <p>hello@Finsweet.com</p>
    </div>
</div>

<div class="field-box">
    <form method="post" action="">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="Send">Send Message</button>
    </form>
</div>
</section>
{% endblock content %}